v0-crawl/workflow/exec-brief.json
{
  "name": "Beacon — Weekly Exec Brief (v0-crawl)",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "0 13 * * 1" } ] }
      },
      "id": "11111111-0000-0000-0000-000000000001",
      "name": "Schedule (Mon 13:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [ 0, 400 ]
    },
    {
      "parameters": {
        "jsCode": "// Fan out GITHUB_REPOS (comma-separated owner/repo) into one item per repo, so\n// the GitHub HTTP node runs once per repo and the brief can cover the OP Labs org.\n// Configurable target — no real ids baked in. Default: the OP Stack monorepo.\nconst raw = $env.GITHUB_REPOS || 'ethereum-optimism/optimism';\nreturn raw.split(',').map((s) => s.trim()).filter(Boolean).map((repo) => ({ json: { repo } }));"
      },
      "id": "11111111-0000-0000-0000-000000000010",
      "name": "GitHub: repos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 220, 80 ],
      "notes": "Reads $env.GITHUB_REPOS (e.g. 'ethereum-optimism/optimism,ethereum-optimism/op-geth'). One item per repo → GitHub: commits runs per repo."
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repo }}/commits",
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "since", "value": "={{ $now.minus({ days: 7 }).toISO() }}" },
          { "name": "per_page", "value": "30" }
        ] },
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Accept", "value": "application/vnd.github+json" },
          { "name": "User-Agent", "value": "beacon" }
        ] },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "response": { "response": { "neverError": false } } }
      },
      "id": "11111111-0000-0000-0000-000000000002",
      "name": "GitHub: commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 460, 80 ],
      "onError": "continueRegularOutput",
      "credentials": { "httpHeaderAuth": { "id": "REPLACE_GITHUB", "name": "GitHub token (Authorization: Bearer …)" } },
      "notes": "Public repos work with any read-only PAT. Runs once per repo from 'GitHub: repos'. If you see one item holding an array, turn on Settings → 'Split Into Items'."
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": { "__rl": true, "value": "={{ $env.NOTION_DATABASE_ID }}", "mode": "id" },
        "returnAll": false,
        "limit": 50,
        "options": {}
      },
      "id": "11111111-0000-0000-0000-000000000004",
      "name": "Notion: pages",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [ 460, 240 ],
      "onError": "continueRegularOutput",
      "credentials": { "notionApi": { "id": "REPLACE_NOTION", "name": "Notion (internal integration token)" } },
      "notes": "Native Notion. Target a database via $env.NOTION_DATABASE_ID; the integration must be shared with that database. Latest 50 pages (mapper keeps the window honest). Add a last_edited_time 'after' filter to scope server-side."
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "channel",
        "operation": "history",
        "channelId": { "__rl": true, "value": "={{ $env.SLACK_CHANNEL_ID }}", "mode": "id" },
        "returnAll": false,
        "limit": 50,
        "filters": { "oldest": "={{ $now.minus({ days: 7 }).toISO() }}" }
      },
      "id": "11111111-0000-0000-0000-000000000005",
      "name": "Slack: #releases",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [ 460, 400 ],
      "onError": "continueRegularOutput",
      "credentials": { "slackOAuth2Api": { "id": "REPLACE_SLACK", "name": "Slack (OAuth2)" } },
      "notes": "ONE curated channel via $env.SLACK_CHANNEL_ID (e.g. #releases). Set $env.SLACK_WORKSPACE too so the mapper can build clickable permalinks. OAuth scopes: channels:history (+ groups:history for private)."
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "operation": "search",
        "queryString": "={{ \"modifiedTime > '\" + $now.minus({ days: 7 }).toISO() + \"' and '\" + $env.GDRIVE_FOLDER_ID + \"' in parents and trashed = false\" }}",
        "returnAll": false,
        "limit": 50,
        "filter": {},
        "options": {}
      },
      "id": "11111111-0000-0000-0000-000000000006",
      "name": "Drive: folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [ 460, 560 ],
      "onError": "continueRegularOutput",
      "credentials": { "googleDriveOAuth2Api": { "id": "REPLACE_GDRIVE", "name": "Google Drive (OAuth2)" } },
      "notes": "Files modified in ONE folder via $env.GDRIVE_FOLDER_ID over the 7-day window. Native Google Drive OAuth2."
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendar": { "__rl": true, "value": "={{ $env.GCAL_ID || 'primary' }}", "mode": "id" },
        "returnAll": false,
        "limit": 50,
        "options": {
          "timeMin": "={{ $now.minus({ days: 7 }).toISO() }}",
          "timeMax": "={{ $now.toISO() }}"
        }
      },
      "id": "11111111-0000-0000-0000-000000000011",
      "name": "Calendar: events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [ 460, 720 ],
      "disabled": true,
      "notes": "STUB (disabled). Native Google Calendar OAuth2. To enable: add the credential, set $env.GCAL_ID, enable this node, and connect it into 'Build activity' (mapper already handles calendar events)."
    },
    {
      "parameters": {
        "resource": "deal",
        "operation": "getAll",
        "returnAll": false,
        "limit": 50,
        "additionalFields": {}
      },
      "id": "11111111-0000-0000-0000-000000000012",
      "name": "HubSpot: deals",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [ 460, 880 ],
      "disabled": true,
      "notes": "STUB (disabled). Native HubSpot (the case study's CRM source). To enable: add the credential, enable this node, connect it into 'Build activity' (mapper already handles deals), and add a recently-modified filter."
    },
    {
      "parameters": {
        "jsCode": "// PASTE workflow/build-activity.js here (see workflow/README.md).\nthrow new Error('Build activity not configured — paste build-activity.js');"
      },
      "id": "11111111-0000-0000-0000-000000000007",
      "name": "Build activity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 720, 400 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "anthropic-version", "value": "2023-06-01" },
          { "name": "content-type", "value": "application/json" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.ANTHROPIC_MODEL || 'claude-sonnet-4-6', max_tokens: 1800, system: 'See workflow/README.md for the full system prompt: produce STRICT JSON matching the Brief schema (sections[].bullets[] with text, whyItMatters, citations). Every bullet must cite an artifact id or url from the provided activity. Never invent a number or % that is not in a cited artifact.', messages: [ { role: 'user', content: 'Activity (only cite these):\\n' + JSON.stringify($json.activity) } ] }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "11111111-0000-0000-0000-000000000008",
      "name": "Claude: summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 940, 400 ],
      "credentials": { "httpHeaderAuth": { "id": "REPLACE_ANTHROPIC", "name": "Anthropic (x-api-key: …)" } }
    },
    {
      "parameters": {
        "jsCode": "// PASTE workflow/trust-node.js here (mirrors the tested src/trust/). Returns { brief, activity, grounding, eval, pass }.\nthrow new Error('Trust gate not configured — paste trust-node.js');"
      },
      "id": "11111111-0000-0000-0000-000000000009",
      "name": "Trust gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1160, 400 ]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "combinator": "and",
          "conditions": [ {
            "id": "cond-pass",
            "leftValue": "={{ $json.pass }}",
            "rightValue": "",
            "operator": { "type": "boolean", "operation": "true", "singleValue": true }
          } ]
        },
        "options": {}
      },
      "id": "11111111-0000-0000-0000-00000000000a",
      "name": "Gate passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [ 1380, 400 ]
    },
    {
      "parameters": {
        "jsCode": "// PASTE workflow/render-eng.js here. Returns { channel, text } for the eng digest.\nthrow new Error('Render eng not configured — paste render-eng.js');"
      },
      "id": "11111111-0000-0000-0000-00000000000b",
      "name": "Render eng",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1600, 240 ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": { "__rl": true, "value": "={{ $json.channel }}", "mode": "name" },
        "messageType": "text",
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "id": "11111111-0000-0000-0000-00000000000c",
      "name": "Post → #eng-updates",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [ 1820, 240 ],
      "credentials": { "slackOAuth2Api": { "id": "REPLACE_SLACK", "name": "Slack (OAuth2)" } }
    },
    {
      "parameters": {
        "jsCode": "// PASTE workflow/render-bd.js here. Returns { channel, text } for the BD brief.\nthrow new Error('Render BD not configured — paste render-bd.js');"
      },
      "id": "11111111-0000-0000-0000-00000000000d",
      "name": "Render BD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1600, 420 ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": { "__rl": true, "value": "={{ $json.channel }}", "mode": "name" },
        "messageType": "text",
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "id": "11111111-0000-0000-0000-00000000000e",
      "name": "Post → #gtm-shipped",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [ 1820, 420 ],
      "credentials": { "slackOAuth2Api": { "id": "REPLACE_SLACK", "name": "Slack (OAuth2)" } }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": { "__rl": true, "value": "#beacon-ops", "mode": "name" },
        "messageType": "text",
        "text": "=Beacon held this week's brief (gate failed). Reasons: {{ JSON.stringify($json.eval.notes) }}",
        "otherOptions": {}
      },
      "id": "11111111-0000-0000-0000-00000000000f",
      "name": "Held: notify ops",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [ 1600, 620 ],
      "credentials": { "slackOAuth2Api": { "id": "REPLACE_SLACK", "name": "Slack (OAuth2)" } }
    }
  ],
  "connections": {
    "Schedule (Mon 13:00)": { "main": [ [
      { "node": "GitHub: repos", "type": "main", "index": 0 },
      { "node": "Notion: pages", "type": "main", "index": 0 },
      { "node": "Slack: #releases", "type": "main", "index": 0 },
      { "node": "Drive: folder", "type": "main", "index": 0 }
    ] ] },
    "GitHub: repos": { "main": [ [ { "node": "GitHub: commits", "type": "main", "index": 0 } ] ] },
    "GitHub: commits": { "main": [ [ { "node": "Build activity", "type": "main", "index": 0 } ] ] },
    "Notion: pages": { "main": [ [ { "node": "Build activity", "type": "main", "index": 0 } ] ] },
    "Slack: #releases": { "main": [ [ { "node": "Build activity", "type": "main", "index": 0 } ] ] },
    "Drive: folder": { "main": [ [ { "node": "Build activity", "type": "main", "index": 0 } ] ] },
    "Build activity": { "main": [ [ { "node": "Claude: summarize", "type": "main", "index": 0 } ] ] },
    "Claude: summarize": { "main": [ [ { "node": "Trust gate", "type": "main", "index": 0 } ] ] },
    "Trust gate": { "main": [ [ { "node": "Gate passed?", "type": "main", "index": 0 } ] ] },
    "Gate passed?": { "main": [
      [ { "node": "Render eng", "type": "main", "index": 0 }, { "node": "Render BD", "type": "main", "index": 0 } ],
      [ { "node": "Held: notify ops", "type": "main", "index": 0 } ]
    ] },
    "Render eng": { "main": [ [ { "node": "Post → #eng-updates", "type": "main", "index": 0 } ] ] },
    "Render BD": { "main": [ [ { "node": "Post → #gtm-shipped", "type": "main", "index": 0 } ] ] }
  }
}
